<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isylph.operator.persistence.dao.SysOperatorManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isylph.operator.persistence.model.SysOperatorManagerPO">
        <id column="id" property="id" />
        <result column="department_id" property="departmentId" />
        <result column="operator_id" property="operatorId" />
        <result column="role" property="role" />
        <result column="priority" property="priority" />
        <result column="delegated_id" property="delegatedId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, department_id, operator_id, `role`, priority, delegated_id, remark
    </sql>
    <delete id="deleteByDepartment">
        delete from sys_operator_manager where  department_id = #{deptId}
    </delete>
    <select id="getByDepartment" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sys_operator_manager where department_id = #{deptId}
    </select>

</mapper>
