<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isylph.department.persistence.dao.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isylph.department.persistence.model.DepartmentPO">
        <id column="id" property="id" />
        <result column="fid" property="fid" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fid, code, title, remark
    </sql>

    <select id="selectHierarchy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/> from department
        where id in
        <foreach collection="deptIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by length(code) asc
    </select>

    <sql id="filter">
        <if test="name != null and name != ''">
            and `title` like concat('%',#{name},'%')
        </if>
        <if test="code != null and code != ''">
            and ((`code` like concat(#{code},'%') and (`code`<![CDATA[ <> ]]> #{code})))
        </if>
        <if test="permissionCode != null and permissionCode != ''">
            and `code` like concat(#{permissionCode},'%')
        </if>
    </sql>


    <select id="selectViewListPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department
        <where>
            <include refid="filter"/>
        </where>
        order by (LENGTH(`code`) - LENGTH(REPLACE(`code`, '.', ''))) asc, id asc
        <include refid="com.isylph.basis.persistence.dao.BaseMapper.Base_Pagination_Filter" />
    </select>
    <select id="countSelectViewListPage" resultType="java.lang.Integer">
        select count(*) from department
        <where>
            <include refid="filter"/>
        </where>
    </select>

</mapper>
